/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  margin-top:-1em;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: #7f8c97;
  background-color: #e9f0f5;
}

a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

h1, h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

ol, ul {
  list-style: none;
}

.header_container {
  padding:100px;
}

.header_container h2 {
  line-height: normal;
  display: inline-block;
  margin: 0 5px;
}

.header_counts{
  display:inline-block;
  margin: 0 1em;
}