<script type="text/javascript" src="js/feed.js"></script>
<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-green">
				<img src="img/nature-people.png" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>A new member just joined</h2>
				<p class="time_place">1 hour ago &middot; Hong Kong</p>
				<p>Hi I'm from Hong Kong</p>
				<a href="#0" class="cd-read-more">Share</a>
				<span class="cd-date">Jan 14</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-red">
				<img src="img/map-marker-radius.png">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Planet Hero's activity</h2>
				<p class="time_place">1 hour ago &middot; Hong Kong</p>
				<p>Nice activity in Hong Kong</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">Feb 14</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-yellow">
				<img src="img/flag-outline-variant.png">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Upcoming activity in Hong Kong</h2>
				<p class="time_place">1 hour ago &middot; Hong Kong</p>
				<p>Trees planting at Victoria Park tomorrow 20/2 afternoon</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">Feb 18</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-green">
				<img src="img/earth.png">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>First setup</h2>
				<p>This marks the first setup of Planet Hero</p>
				<span class="cd-date">Feb 19</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->